#{extends 'main.html' /} #{set title:'Play Achtung die Kurve' /} #{set
'moreScripts'} #{script id:'sockets', src:'jquery.gracefulWebSocket.js',
charset:'utf-8' /} #{script id:'game', src:'game.js', charset:'utf-8' /}
<script type="text/javascript">
	var colors = [ "red", "green", "pink", "blue", "orange", "white" ];
	var mock = '<li style="color: pl_color;">pl_name name: <input class="pl_input" type="text" size="15" style="background-color: pl_color;"/></li>';
	$(document).ready(function() {
				var list = $("#player_list");
				for (var l = 0; l < colors.length; l++) {
	                var value = mock.replace("pl_name", "Player " + (l + 1));
	                value = value.replace(/pl_color/gi, colors[l]);
	                list.append(value);
				}

				var start = true;
				$(document).keydown(
						function(e) {
							if (e.keyCode == 32 && start) {
								var nameInputs = $("#player_list").find(
										"input.pl_input");
								if (nameInputs.length < 2)
									return;

								var players = new Array();
								for ( var i = 0; i < nameInputs.length
										&& i < colors.length; i++) {
									var value = nameInputs[i].value;
									if (value == "")
										continue;
									
									players.push({
										name : value,
										color : colors[i]
									});
								}
								if (players.length >= 2) {
									play(players);
									start = false;
								}
									
								
								e.preventDefault();
							}
						});
			});
</script>
#{/set} #{set 'moreStyles'}
<style>
body,html {
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: Arial;
  font-size: 20px;
  background-color: black;
  color: white;
  margin: 0;
}

#stage {
  border: 2px solid yellow;
  margin: 5px auto;
  position: relative;
  width: 700px;
  height: 700px;
  float: left;
  margin-left: 7%;
}

#controls {
  position: relative;
  float: left;
  color: white;
  margin-left: 50px;
}

input.pl_input {
  color: white;
}
</style>
#{/set}

<div id="stage"></div>
<div id="controls">
  <div id="player">
    <h3>Players</h3>
    <form>
      <ul id="player_list" style="list-style: none;">

      </ul>
    </form>
    <div id="start_msg">Press Space to start</div>
  </div>
</div>
<div style="clear: left;"></div>
