 
@main("Achtung die Kurve") {

<div id="stage"></div>
<div id="controls">
	<h1>Achtung die Kurve!</h1>
	<div id="info_text">Click on a player to choose keys</div>
	<form>
		<ul id="player_list" style="list-style: none;"></ul>
		<div style="clear: right;"></div>
	</form>
	<div id="start_msg">Press Space to start/pause</div>
</div>
<div style="clear: left;"></div>

<script type="text/javascript" src="/assets/javascripts/singleplayer.js"></script>
<script type="text/javascript">
<!--
jQuery.fn.extend({
	selectText : function() {
		var text = $(this)[0];
		if ($.browser.msie) {
			var range = document.body.createTextRange();
			range.moveToElementText(text);
			range.select();
		} else if ($.browser.mozilla || $.browser.opera) {
			var selection = window.getSelection();
			var range = document.createRange();
			range.selectNodeContents(text);
			selection.removeAllRanges();
			selection.addRange(range);
		} else if ($.browser.safari) {
			var selection = window.getSelection();
			selection.setBaseAndExtent(text, 0, text, 1);
		}
		return $(this);
	}
})

function update_scores(world) {

	var mock = "<li style=\"color: pl_color;\" tabindex=\"pl_id\">pl_name<span class\"key\">pl_score</span></li>";
	var list = $("#player_list");
	list.children().detach();

	var players = world.players.slice();
	players.sort(function(a, b) {
		return b.score - a.score;
	});
	for ( var l = 0; l < players.length; l++) {
		var player = players[l];
		var value = mock.replace("pl_id", l);
		value = value.replace("pl_name", player.name);
		value = value.replace("pl_score", player.score);
		value = value.replace(/pl_color/gi, player.color);
		list.append(value);
	}
	$('#info_text').text("Round: " + world.round).append(
			'<br/>To win you have to play at least ' + players.length * 2
					+ ' rounds, and need 20 points lead');
}

function keyIsUsed(players, key) {
	for ( var i = 0; i < players.length; i++) {
		if (players[i].left == key || players[i].right == key)
			return true;
	}
	;
	return false;
}

function initial_scene() {
	var names = [ "Fred", "Greenle", "Pinkney", "Bluebell", "Willem",
			"Greydon" ];
	var colors = [ "red", "green", "pink", "blue", "orange", "grey" ];
	var mock = "<li style=\"opacity: 0.7;color: pl_color;\" tabindex=\"pl_id\">pl_name<span class\"key\"></span><span class\"key\"></span></li>";
	var players = new Array();
	var list = $("#player_list");
	list.children().detach();
	for ( var l = 0; l < colors.length; l++) {
		var value = mock.replace("pl_id", l);
		value = value.replace("pl_name", names[l]);
		value = value.replace(/pl_color/gi, colors[l]);
		list.append(value);
	}

	var selected = {
		index : 0,
		side : 0,
		player : null
	};

	var lock = false;
	$('#player_list li').click(
			function(e) {
				if (!lock) {
					lock = true;
					selected.index = parseInt($(this).attr("tabindex"));
					$('#player_list li').eq(selected.index).children()
							.andSelf().css('opacity', 1.0);
					$(this).find('span').eq(0).text("Press left key").css(
							"color", "yellow").selectText();
					selected.side = "left";
					selected.player = {
						name : names[selected.index],
						color : colors[selected.index],
						left : 0,
						right : 0
					};
					for ( var i = 0; i < players.length; i++) {
						if (players[i].name == selected.player.name) {
							players.splice(i, 1);
							break;
						}
					}
					;
				}
			});
	// Care about the actual keyinput
	$(document)
			.keydown(
					function(e) {
						var code = e.keyCode || e.which;
						if (code == 32) {//Start the game
							if (lock || players.length < 2)
								return;

							var stage = $("#stage");
							var width = parseInt(stage.css("width")
									.replace(/[^0-9]+/g, ''));
							var height = parseInt(stage.css("height")
									.replace(/[^0-9]+/g, ''));
							var elem = $("<canvas id='canvas' width=" + width + " height=" + height + "></canvas>");
							stage.html(elem);

							var canvas = elem.get(0);
							if (!canvas.getContext) {
								alert("Canvas not supported!");
								return;
							}

							playOffline(canvas.getContext('2d'), players,
									update_scores);
						} else if (lock && !keyIsUsed(players, code)) {// Assign key to a user
							var el = $('#player_list li')
									.eq(selected.index);
							if (selected.side == "left") {
								el.find('span').eq(0).text(
										String.fromCharCode(code)).css(
										'color', 'white');
								el.find('span').eq(1).text(
										"Press right key").css("color",
										"yellow").selectText();
								selected.player.left = code;
								selected.side = "right";
							} else if (selected.side == "right"
									&& code != selected.player.left) {
								el.find('span').eq(1).css('color', 'white')
										.text(String.fromCharCode(code));
								selected.player.right = code;
								players.push(selected.player);
								lock = false;
							}
						}
						e.preventDefault();
					});
}

$(document).ready(function() {
	initial_scene();
});
//-->
</script>
}
